@import "settings/resolution.css";
@import "settings/java-memory.css";


.settingsNavbtn {
  width: 10%;
  color: white;
  margin: 10% 45%;
  text-align: -webkit-center;
  border-style: solid;
  border-color: orange;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  

}

.settingsbtn {
  display: flex;
  border: none;
  background: none;
  color: orange;
  font-size: 140%;
  font-weight: bolder;
  margin: 10% 35%;
  padding: 2%;
  border-width: 100px;
  
}

.tabsettings {
  position: absolute;
  border-radius: 25px;
  background: rgb(48, 48, 48);
  padding: 2%;
  width: 13%;
  height: 15%;
  margin: 5% 5%;
  border-style: solid;
  border-color: orange;
}